.input-wrapper {
    background-color: white;
    color: blue;
    width: 100%;
    border-radius: 20px;
    height: 2.5rem;
    padding: 0 20px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
}

input {
    color: black;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%; 
    max-width: 200px; 
    min-width: 200px;
    margin-left: 5px;
    box-sizing: border-box; 
}

input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
}
